projetos/ApiSGTV1/account.asmx_InlineSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SS2ERP.MVC.Models.Base" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s1="http://schemas.datacontract.org/2004/07/SS2ERP.MVC.Models.Base" xmlns:s2="http://schemas.datacontract.org/2004/07/SS2ERP.MVC.Models.Base.Output" xmlns:s3="http://schemas.datacontract.org/2004/07/SS2ERP.MVC.Models.Base.Input" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://tempuri.org/conta/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:complexType name="Address">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="City" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Complement" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="ContactInfo" nillable="true" type="s1:AddressContactInfo"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Country" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="IBGECode" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Name" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Neighborhood" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Number" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Principal" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="State" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Street" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Type" nillable="true" type="s1:AddressType"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="ZipCode" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AddressContactInfo">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="BranchLine" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="CellularNumber" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Email" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Fax" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="PhoneNumber" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="SMS" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Website" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AddressType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Description" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAddress">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Address" nillable="true" type="s1:Address"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCommunication">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Communication" nillable="true" type="s1:Communication"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Communication">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Type" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Value" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EstablishmentType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Description" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Id" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>