projetos/ApiSGTV1/contract.asmx_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/contrato/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s1="http://schemas.datacontract.org/2004/07/SS2ERP.MVC.Models.Base.Output" xmlns:s2="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://tempuri.org/contrato/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SS2ERP.MVC.Models.Base.Output" schemaLocation="contract.asmx_InlineSchema2.xsd"/>
      <xsd:import namespace="http://microsoft.com/wsdl/types/" schemaLocation="contract.asmx_InlineSchema3.xsd"/>
      <xsd:element ibmSchExtn:docRoot="true" name="GetContracts">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="idUser" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="codigoAX" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="limite" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="data" type="xsd:dateTime"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="GetContractsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="GetContractsResult" type="tns:ArrayOfContractUpdate"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfContractUpdate">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContractUpdate" nillable="true" type="s1:ContractUpdate"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="EnviarContratoAX">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="idUser" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="contratoid" type="s2:guid"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="EnviarContratoAXResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EnviarContratoAXResult"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="ImprimirContrato">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="userId" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="contractId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="ImprimirContratoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="ImprimirContratoResult" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="GetContrato">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="token" type="tns:Token"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="contratoId" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="codigoAX" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="casa" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Token">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="User" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Password" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Domain" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ContratoRetorno">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="idCliente" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cnpjCliente" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dataInicioContrato" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dataTerminoContrato" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codigoContratoCTR" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="casa" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="codCasa" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="valorTotalContrato" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="status" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="titulo" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codUnidadeOp" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="endereco" type="tns:Endereco"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="linhasDeContrato" type="tns:ArrayOfLinhaDeContrato"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="previsoesReceitas" type="tns:ArrayOfPrevisaoReceita"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Endereco">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="logradouro" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="numeroEndereco" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="bairro" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="complemento" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="codigoIBGE" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cep" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cidade" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="estado" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="pais" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfLinhaDeContrato">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="LinhaDeContrato" nillable="true" type="tns:LinhaDeContrato"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LinhaDeContrato">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="idProduto" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codigoProduto" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="isEscopoIndefinido" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="isValorHora" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="numeroProducaoEstimada" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="numeroDeRelatorioEstimado" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="titulo" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="unidade" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codUnidadeOp" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="vlrEconomico" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="vlrFinanceiro" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="previsoesReceitas" type="tns:ArrayOfPrevisaoReceita"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPrevisaoReceita">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="PrevisaoReceita" nillable="true" type="tns:PrevisaoReceita"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PrevisaoReceita">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="cpfCnpj" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="tipoPrevisaoReceita" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="valor" type="xsd:decimal"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="GetContratoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="GetContratoResult" type="tns:ContratoRetorno"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>