ApiSGTV1/FilaIntegracao.asmx.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/fila/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://tempuri.org/fila/">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="FilaIntegracao.asmx_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="FilaIntegracaoSoap" originalBindingStyle="document"/>
        <binding hasEncoding="false" imported="false" name="FilaIntegracaoSoap12" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  <wsdl:types>
    
          <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/fila/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
<xsd:include schemaLocation="FilaIntegracao.asmx_InlineSchema1.xsd"/>
    </xsd:schema>
    </wsdl:types>
  <wsdl:message name="GetFilaIntegracaoSoapIn">
    <wsdl:part element="tns:GetFilaIntegracao" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetFilaIntegracaoSoapOut">
    <wsdl:part element="tns:GetFilaIntegracaoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="PutInativarItensFilaIntegracaoSoapIn">
    <wsdl:part element="tns:PutInativarItensFilaIntegracao" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="PutInativarItensFilaIntegracaoSoapOut">
    <wsdl:part element="tns:PutInativarItensFilaIntegracaoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="FilaIntegracaoSoap">
    <wsdl:operation name="GetFilaIntegracao">
      <wsdl:input message="tns:GetFilaIntegracaoSoapIn"/>
      <wsdl:output message="tns:GetFilaIntegracaoSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="PutInativarItensFilaIntegracao">
      <wsdl:input message="tns:PutInativarItensFilaIntegracaoSoapIn"/>
      <wsdl:output message="tns:PutInativarItensFilaIntegracaoSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FilaIntegracaoSoap" type="tns:FilaIntegracaoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetFilaIntegracao">
      <soap:operation soapAction="http://tempuri.org/fila/GetFilaIntegracao" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutInativarItensFilaIntegracao">
      <soap:operation soapAction="http://tempuri.org/fila/PutInativarItensFilaIntegracao" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FilaIntegracaoSoap12" type="tns:FilaIntegracaoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetFilaIntegracao">
      <soap12:operation soapAction="http://tempuri.org/fila/GetFilaIntegracao" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutInativarItensFilaIntegracao">
      <soap12:operation soapAction="http://tempuri.org/fila/PutInativarItensFilaIntegracao" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FilaIntegracao">
    <wsdl:port binding="tns:FilaIntegracaoSoap" name="FilaIntegracaoSoap">
      <soap:address location="https://wbscrmprd.fiepr.org.br/FilaIntegracao.asmx"/>
    </wsdl:port>
    <wsdl:port binding="tns:FilaIntegracaoSoap12" name="FilaIntegracaoSoap12">
      <soap12:address location="https://wbscrmprd.fiepr.org.br/FilaIntegracao.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>