ApiSGTV1/FilaIntegracao.asmx_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/fila/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://tempuri.org/fila/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="GetFilaIntegracao">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="token" type="tns:Token"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="idIntegracao" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="tipoEntidade" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="processo" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="status" nillable="true" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="pagina" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="quantidade" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Token">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="User" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Password" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Domain" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="GetFilaIntegracaoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="GetFilaIntegracaoResult" type="tns:RetornoGet"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="RetornoGet">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="quantidade" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="maisResultados" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="resultados" type="tns:ArrayOfFilaRetorno"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfFilaRetorno">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="FilaRetorno" nillable="true" type="tns:FilaRetorno"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FilaRetorno">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="idFila" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idRegistro" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="PutInativarItensFilaIntegracao">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="token" type="tns:Token"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="idFila" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="PutInativarItensFilaIntegracaoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="PutInativarItensFilaIntegracaoResult" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>