ApiSGTV1/product.asmx.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/produto/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://tempuri.org/produto/">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="product.asmx_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="false" name="ProductSoap12" originalBindingStyle="document"/>
        <binding hasEncoding="false" imported="true" name="ProductSoap" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  <wsdl:types>
    
          <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/produto/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
<xsd:include schemaLocation="product.asmx_InlineSchema1.xsd"/>
    </xsd:schema>
    </wsdl:types>
  <wsdl:message name="UpsertSoapIn">
    <wsdl:part element="tns:Upsert" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UpsertSoapOut">
    <wsdl:part element="tns:UpsertResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UpdateSGESoapIn">
    <wsdl:part element="tns:UpdateSGE" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UpdateSGESoapOut">
    <wsdl:part element="tns:UpdateSGEResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UpdateSGE2SoapIn">
    <wsdl:part element="tns:UpdateSGE2" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UpdateSGE2SoapOut">
    <wsdl:part element="tns:UpdateSGE2Response" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UpdateOldSGESoapIn">
    <wsdl:part element="tns:UpdateOldSGE" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UpdateOldSGESoapOut">
    <wsdl:part element="tns:UpdateOldSGEResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UpdateOldSGETokenSGE">
    <wsdl:part element="tns:TokenSGE" name="TokenSGE"/>
  </wsdl:message>
  <wsdl:message name="GetProdutosSoapIn">
    <wsdl:part element="tns:GetProdutos" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetProdutosSoapOut">
    <wsdl:part element="tns:GetProdutosResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ProductSoap">
    <wsdl:operation name="Upsert">
      <wsdl:input message="tns:UpsertSoapIn"/>
      <wsdl:output message="tns:UpsertSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateSGE">
      <wsdl:input message="tns:UpdateSGESoapIn"/>
      <wsdl:output message="tns:UpdateSGESoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateSGE2">
      <wsdl:input message="tns:UpdateSGE2SoapIn"/>
      <wsdl:output message="tns:UpdateSGE2SoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateOldSGE">
      <wsdl:documentation>Responsavel por atualizar dados de produtos</wsdl:documentation>
      <wsdl:input message="tns:UpdateOldSGESoapIn"/>
      <wsdl:output message="tns:UpdateOldSGESoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetProdutos">
      <wsdl:input message="tns:GetProdutosSoapIn"/>
      <wsdl:output message="tns:GetProdutosSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductSoap" type="tns:ProductSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Upsert">
      <soap:operation soapAction="http://tempuri.org/produto/Upsert" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSGE">
      <soap:operation soapAction="http://tempuri.org/produto/UpdateSGE" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSGE2">
      <soap:operation soapAction="http://tempuri.org/produto/UpdateSGE2" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOldSGE">
      <soap:operation soapAction="http://tempuri.org/produto/UpdateOldSGE" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:UpdateOldSGETokenSGE" part="TokenSGE" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProdutos">
      <soap:operation soapAction="http://tempuri.org/produto/GetProdutos" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProductSoap12" type="tns:ProductSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Upsert">
      <soap12:operation soapAction="http://tempuri.org/produto/Upsert" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSGE">
      <soap12:operation soapAction="http://tempuri.org/produto/UpdateSGE" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSGE2">
      <soap12:operation soapAction="http://tempuri.org/produto/UpdateSGE2" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOldSGE">
      <soap12:operation soapAction="http://tempuri.org/produto/UpdateOldSGE" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:UpdateOldSGETokenSGE" part="TokenSGE" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProdutos">
      <soap12:operation soapAction="http://tempuri.org/produto/GetProdutos" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Product">
    <wsdl:port binding="tns:ProductSoap" name="ProductSoap">
      <soap:address location="https://wbscrmprd.fiepr.org.br/product.asmx"/>
    </wsdl:port>
    <wsdl:port binding="tns:ProductSoap12" name="ProductSoap12">
      <soap12:address location="https://wbscrmprd.fiepr.org.br/product.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>