ApiSGTV1/${bar.output.location}/ApiSGTV1/ApiSGTV1/account.asmx_InlineSchema4.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SS2ERP.MVC.Models.Base.Input" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s1="http://schemas.datacontract.org/2004/07/SS2ERP.MVC.Models.Base" xmlns:s2="http://schemas.datacontract.org/2004/07/SS2ERP.MVC.Models.Base.Output" xmlns:s3="http://schemas.datacontract.org/2004/07/SS2ERP.MVC.Models.Base.Input" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://tempuri.org/conta/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SS2ERP.MVC.Models.Base" schemaLocation="account.asmx_InlineSchema2.xsd"/>
      <xsd:complexType name="Customer">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Addresses" nillable="true" type="s1:ArrayOfAddress"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="CCM" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CEIRegistry_BR" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="CNAE" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Category" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="CommunicationChannels" nillable="true" type="s1:ArrayOfCommunication"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="EstablishmentType" nillable="true" type="s1:EstablishmentType"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="ExternalAppId" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="ExternalCustomerId" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="FederalId" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="GroupId" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ICMS" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="INSSCEI" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="ISS" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="InscricaoEstadual" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="NIT" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Name" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="NameAlias" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Nationality" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>