ApiSGTV1/${bar.output.location}/ApiSGTV1/ApiSGTV1/account.asmx_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/conta/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s1="http://schemas.datacontract.org/2004/07/SS2ERP.MVC.Models.Base" xmlns:s2="http://schemas.datacontract.org/2004/07/SS2ERP.MVC.Models.Base.Output" xmlns:s3="http://schemas.datacontract.org/2004/07/SS2ERP.MVC.Models.Base.Input" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://tempuri.org/conta/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SS2ERP.MVC.Models.Base" schemaLocation="account.asmx_InlineSchema2.xsd"/>
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SS2ERP.MVC.Models.Base.Output" schemaLocation="account.asmx_InlineSchema3.xsd"/>
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SS2ERP.MVC.Models.Base.Input" schemaLocation="account.asmx_InlineSchema4.xsd"/>
      <xsd:element ibmSchExtn:docRoot="true" name="ConsultaDadosClienteSIGA">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="idUser" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CnpjCei" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="ConsultaDadosClienteSIGAResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="ConsultaDadosClienteSIGAResult" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="FindAccountAX">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="idUser" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="federalId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="FindAccountAXResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="FindAccountAXResult" type="tns:Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Response">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="status" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="data" type="tns:ArrayOfAddress"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="customerFinancialPendencies" type="tns:ArrayOfCustFinancialPendency"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAddress">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Address" nillable="true" type="s1:Address"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCustFinancialPendency">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="CustFinancialPendency" nillable="true" type="s2:CustFinancialPendency"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="UpdateAccountAX">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="idUser" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="account" type="s3:Customer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="UpdateAccountAXResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="UpdateAccountAXResult" type="tns:Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="InsertAccountAX">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="idUser" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="account" type="s3:Customer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="InsertAccountAXResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="InsertAccountAXResult" type="tns:Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="GetClientesInadimplentes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="idUser" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="GetClientesInadimplentesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="GetClientesInadimplentesResult" type="tns:Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="GetClienteInadimplente">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="idUser" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="cpfCnpj" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="GetClienteInadimplenteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="GetClienteInadimplenteResult" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="CarregarContasPF">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="idUser" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="apontamentoId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="CarregarContasPFResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="CarregarContasPFResult" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="SalvarContasDuplicadas">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="idUser" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="apontamentoId" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="listContas" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="SalvarContasDuplicadasResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SalvarContasDuplicadasResult" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="GravarConta">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Token" type="tns:Token"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Cliente" type="tns:ClienteVO"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Token">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="User" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Password" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Domain" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ClienteVO">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="Nome" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="DataNascimento" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Sobrenome" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Genero" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="EstadoCivil" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Nacionalidade" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="GrauInstrucao" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="NecessidadeFisica" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="NecessidadeFisicaDetalhes" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Mail" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Cep" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="LogradouroTipo" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Logradouro" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="LogradouroNumero" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="LogradouroComplemento" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Bairro" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="BairroTipo" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Estado" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Cidade" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Pais" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="TelefoneResidencial" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="TelefoneCelular" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Cpf" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CpfMotivo" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Rg" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="RgEmissao" nillable="true" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="RgEmissor" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="RgEmissorEstado" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="RA" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="EstadoNatal" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Naturalidade" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CodigoPessoa_SGE" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Pai" type="tns:ContaVO"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Mae" type="tns:ContaVO"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="RespAcademico" type="tns:ContaVO"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ContaVO">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="Nome" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="DataNascimento" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="GrauInstrucao" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Mail" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Cep" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="LogradouroTipo" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Logradouro" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="LogradouroNumero" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="LogradouroComplemento" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Bairro" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Estado" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Cidade" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Pais" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="TelefoneResidencial" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="TelefoneCelular" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Cpf" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="EstadoNatal" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Naturalidade" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Profissao" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Classificacao" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CodigoPessoa_SGE" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="CodColigada_SGE" nillable="true" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="GravarContaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="GravarContaResult" type="tns:Retorno"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Retorno">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Codigo" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Erro" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Data" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="GetContas">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="token" type="tns:Token"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="cpfCnpj" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="tipoConta" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="idConta" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="porte" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="nome" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="status" nillable="true" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="isSindicatos" nillable="true" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="codigoAX" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="pagina" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="quantidade" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="GetContasResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="GetContasResult" type="tns:RetornoGet"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="RetornoGet">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="quantidade" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="maisResultados" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="resultados" type="tns:ArrayOfContaRetorno"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfContaRetorno">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContaRetorno" nillable="true" type="tns:ContaRetorno"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ContaRetorno">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="idConta" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cpfCnpj" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="tipoConta" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="nomeFantasia" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="razaoSocial" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cei" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="rg" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="nit" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dataNascimento" nillable="true" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codigoAX" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="email" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="emailNF" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="telefone" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="inscricaoEstadual" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="status" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="isSindicato" nillable="true" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="numeroFuncionarios" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="porte" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codigoEmpresarial" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="associadoSindicato" nillable="true" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="filiadoSindicato" nillable="true" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="razaoSocialSindicatoRelacionado" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cnpjSindicatoRelacionado" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="microRegiao" type="tns:MicroRegiao"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="informacoesCnae" type="tns:InformacoesCNAE"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="enderecos" type="tns:ArrayOfEndereco"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MicroRegiao">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="nome" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="regiao" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InformacoesCNAE">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="secao" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="divisao" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="grupo" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="classe" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codigoCnae" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="descricaoCnae" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="setorEconomico" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="isIndustria" nillable="true" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfEndereco">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Endereco" nillable="true" type="tns:Endereco"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Endereco">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="cep" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="logradouro" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="numeroEndereco" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="bairro" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="complemento" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cidade" type="tns:Cidade"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Cidade">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="nome" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="codigoIBGE" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="uf" type="tns:UF"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="UF">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="sigla" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="pais" type="tns:Pais"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Pais">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="nome" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sigla" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="AtualizaContaAX">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="idUser" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="accountId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="AtualizaContaAXResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="AtualizaContaAXResult" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>