ApiSGTV1/ApiSGTV1/contract.asmx.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/contrato/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://schemas.datacontract.org/2004/07/SS2ERP.MVC.Models.Base.Output" xmlns:s2="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://tempuri.org/contrato/">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="contract.asmx_InlineSchema3.xsd"/>
        <generatedXSD location="contract.asmx_InlineSchema1.xsd"/>
        <generatedXSD location="contract.asmx_InlineSchema2.xsd"/>
        <binding hasEncoding="false" imported="false" name="ContractSoap12" originalBindingStyle="document"/>
        <binding hasEncoding="false" imported="true" name="ContractSoap" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  <wsdl:types>
    
    
    
          <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
<xsd:include schemaLocation="contract.asmx_InlineSchema3.xsd"/>
    </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/contrato/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
<xsd:import namespace="http://schemas.datacontract.org/2004/07/SS2ERP.MVC.Models.Base.Output" schemaLocation="contract.asmx_InlineSchema2.xsd"/>
<xsd:import namespace="http://microsoft.com/wsdl/types/" schemaLocation="contract.asmx_InlineSchema3.xsd"/>
<xsd:include schemaLocation="contract.asmx_InlineSchema1.xsd"/>
    </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SS2ERP.MVC.Models.Base.Output">
<xsd:include schemaLocation="contract.asmx_InlineSchema2.xsd"/>
    </xsd:schema>
    </wsdl:types>
  <wsdl:message name="GetContractsSoapIn">
    <wsdl:part element="tns:GetContracts" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetContractsSoapOut">
    <wsdl:part element="tns:GetContractsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EnviarContratoAXSoapIn">
    <wsdl:part element="tns:EnviarContratoAX" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="EnviarContratoAXSoapOut">
    <wsdl:part element="tns:EnviarContratoAXResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ImprimirContratoSoapIn">
    <wsdl:part element="tns:ImprimirContrato" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ImprimirContratoSoapOut">
    <wsdl:part element="tns:ImprimirContratoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetContratoSoapIn">
    <wsdl:part element="tns:GetContrato" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetContratoSoapOut">
    <wsdl:part element="tns:GetContratoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ContractSoap">
    <wsdl:operation name="GetContracts">
      <wsdl:input message="tns:GetContractsSoapIn"/>
      <wsdl:output message="tns:GetContractsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="EnviarContratoAX">
      <wsdl:input message="tns:EnviarContratoAXSoapIn"/>
      <wsdl:output message="tns:EnviarContratoAXSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ImprimirContrato">
      <wsdl:input message="tns:ImprimirContratoSoapIn"/>
      <wsdl:output message="tns:ImprimirContratoSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetContrato">
      <wsdl:input message="tns:GetContratoSoapIn"/>
      <wsdl:output message="tns:GetContratoSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContractSoap" type="tns:ContractSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetContracts">
      <soap:operation soapAction="http://tempuri.org/contrato/GetContracts" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarContratoAX">
      <soap:operation soapAction="http://tempuri.org/contrato/EnviarContratoAX" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImprimirContrato">
      <soap:operation soapAction="http://tempuri.org/contrato/ImprimirContrato" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContrato">
      <soap:operation soapAction="http://tempuri.org/contrato/GetContrato" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContractSoap12" type="tns:ContractSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetContracts">
      <soap12:operation soapAction="http://tempuri.org/contrato/GetContracts" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarContratoAX">
      <soap12:operation soapAction="http://tempuri.org/contrato/EnviarContratoAX" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImprimirContrato">
      <soap12:operation soapAction="http://tempuri.org/contrato/ImprimirContrato" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContrato">
      <soap12:operation soapAction="http://tempuri.org/contrato/GetContrato" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Contract">
    <wsdl:port binding="tns:ContractSoap" name="ContractSoap">
      <soap:address location="https://wbscrmprd.fiepr.org.br/contract.asmx"/>
    </wsdl:port>
    <wsdl:port binding="tns:ContractSoap12" name="ContractSoap12">
      <soap12:address location="https://wbscrmprd.fiepr.org.br/contract.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>