ApiSGTV1/ApiSGTV1/product.asmx_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/produto/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://tempuri.org/produto/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="Upsert">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="token" type="tns:Token"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="listItemCR" type="tns:ArrayOfItemCRHierarchy"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Token">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="User" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Password" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Domain" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfItemCRHierarchy">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ItemCRHierarchy" nillable="true" type="tns:ItemCRHierarchy"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItemCRHierarchy">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="DimensionObj" type="tns:Dimension"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Status" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Level" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="IdParent" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Reason" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Dimension">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="DepartamentalUnit" type="tns:DepartamentalUnit"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Casa" type="tns:Casa"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CodigoReduzido" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DepartamentalUnit">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Casa">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="UpsertResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="UpsertResult" type="tns:MessageReturn"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="MessageReturn">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Success" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ErrorList" type="tns:ArrayOfErrorDetail"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfErrorDetail">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ErrorDetail" nillable="true" type="tns:ErrorDetail"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ErrorDetail">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="errorCode" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="info" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="UpdateSGE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="token" type="tns:Token"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="item" type="tns:ItemSGE"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ItemSGE">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="CodigoMatrizCurricular" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ConteudosFormativos" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="CargaHoraria" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ProductNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Descricao" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Obrigatoriedades" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Justificativa" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Objetivo" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ObjetivoEspecifico" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DescricaoCurso" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CompetenciaGeral" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="TipoOferta" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="DataInicio" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="DataFim" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="ValorSugerido" type="xsd:decimal"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="UpdateSGEResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="UpdateSGEResult" type="tns:Retorno"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Retorno">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Codigo" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Erro" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Data" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="UpdateSGE2">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="token" type="tns:Token"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="item" type="tns:ItemSGE2"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ItemSGE2">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="codigo" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ListDadosAdicionais" type="tns:ArrayOfDadosAdicionais"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfDadosAdicionais">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="DadosAdicionais" nillable="true" type="tns:DadosAdicionais"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DadosAdicionais">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="cargaHoraria" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="produtoId" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="descricao" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="obrigatoriedades" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="justificativa" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="objetivo" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="objetivoEspecifico" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="descricaoCurso" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="competenciaGeral" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codigoMatrizCurricular" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="conteudosFormativos" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tipoOferta" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dataInicio" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dataFim" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="valorSugerido" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Serie" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Filial" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Nome" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Matriz" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Modalidade" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="IsTempoIntegral" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Mensalidade" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CodigoSGE" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Codigo" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="UpdateSGE2Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="UpdateSGE2Result" type="tns:Retorno"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="UpdateOldSGE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="produtoId" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="nomeDoProduto" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="casa" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="listaDePreco" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="linhaDeAcao" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="familiaDoProduto" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="classeDoProduto" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="linhaDoProduto" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="tipo" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="descricao" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="obrigatoriedades" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="grupoDeUnidadeDeMedidas" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="unidadeDeMedidaPadrao" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="ofereceDecimais" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="cargaHoraria" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="justificativa" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="objetivo" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="objetivoEspecifico" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="descricaoCurso" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="competenciaGeral" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="dataInicio" type="xsd:dateTime"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="dataFim" type="xsd:dateTime"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="UpdateOldSGEResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="UpdateOldSGEResult" type="tns:Retorno"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="TokenSGE" type="tns:TokenSGE"/>
      <xsd:complexType name="TokenSGE">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="token" type="xsd:string"/>
        </xsd:sequence>
        <xsd:anyAttribute/>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="GetProdutos">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="token" type="tns:Token"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="idProduto" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="codigoProduto" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="status" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="isRegional" nillable="true" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="pagina" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="quantidade" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="GetProdutosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="GetProdutosResult" type="tns:RetornoGet"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="RetornoGet">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="quantidade" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="maisResultados" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="resultados" type="tns:ArrayOfProdutoRetorno"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfProdutoRetorno">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ProdutoRetorno" nillable="true" type="tns:ProdutoRetorno"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProdutoRetorno">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="idProduto" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codigoProduto" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="isAtivo" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="nome" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="crProdutoRegional" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="classificacao" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="listaDePreco" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idProdutoNacional" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>